<div class="container col-md-8 col-md-offset-2">

  <h1><%= @group.name %></h1>

  <%= render 'posts/post_form' %>

  <div class="row">
    <% if @user.posts.any? %>
      <ol class="groupPosts">
        <%= render 'groups/post' %>
      </ol>
    <% end %>
  </div>

</div>
