<div class="container col-md-2">

  <div class="row">
    <% unless current_user?(@user) %>
      <%= link_to "My Profile", user_path(current_user), class: "my-profile" %>
    <% end %>
  </div>

  <% if user_signed_in? %>
    <div class="row">
      <%= render 'users/stats' %>
    </div>

    <div class="row">
      <%= render 'users/follow_form' %>
    </div>

    <div class="row">
      <%#= render 'groups/group_form' %>
    </div>
  <% end %>
</div>
