
<div class="container col-md-offset-3 col-md-6">
  <div class="row">
    <p class="username">
      <%= @user.username.upcase %>
    </p>
  </div>

  <div class="row">
    <%= render "posts/post_form" %>
  </div>

  <div class="row">
    <% if @user.posts.any? %>
      <ol class="userposts">
        <%= render @posts %>
      </ol>
    <% end %>
    <%= will_paginate @posts %>
  </div>
</div>
