
<div class="container col-md-offset-2 col-md-8">

  <div class="row">
    <%= render 'stats' %>
  </div>

  <div class="row">
    <%= render "posts/post_form" %>
  </div>

  <div class="row">
    <% if @user.posts.any? %>
      <ol class="userposts">
        <%= render @posts %>
      </ol>
    <% end %>
    <%= will_paginate @posts %>
  </div>
</div>
