@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Righteous);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);

$headerFont: 'Righteous', cursive;
$paraFont: 'Roboto', sans-serif;

$primaryBrandColor: #543854;
$navbarColor: white;

@mixin box  {
  -webkit-box-shadow: 0px 0px 30px 0px rgba(211,211,211,1);
  -moz-box-shadow: 0px 0px 30px 0px rgba(211,211,211,1);
  box-shadow: 0px 0px 30px 0px rgba(211,211,211,1);
}

@mixin button {
  padding: 5px 20px;
  color: white;
  background-color: $primaryBrandColor;
  border-radius: 4px;
  border-color: transparent;
  &:hover{
    color: $primaryBrandColor;
    background-color: white;
    border: 1px solid $primaryBrandColor;
  }
}

/**************
  Basic Styles
***************/

* {
  box-sizing: border-box;
}

body  {
  margin-top: 60px;
  background-color: #f5f5f5;
}

h1,h2  {
  font-family: $headerFont;
  text-align: center;
}

.btn,
.btn-default  {
  @include button;
}

/**************
  Home Page
***************/
.home {
  margin-top: 15%;
}

.homeHeader {
  margin: 0;
  font-size: 3.5em;
  line-height: 1.2;
}

.homeSubheader  {
  color: $primaryBrandColor;
}

.homeBtn  {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 15px;
  height: 50px;
  width: 350px;
  list-style: none;
  font-size: 1.5em;
  font-weight: bold;
  color: white;
  background-color: $primaryBrandColor;
  border-radius: 50px;
  &:hover {
    color: $primaryBrandColor;
    background-color: white;
  }
}


/**************
  Navigation
***************/
.navbar {
  height: 60px;
  margin-bottom: 0;
  background-color: $navbarColor;
}

#navbar-brand {
  margin-top: 5px;
  font-family: $headerFont;
  font-size: 3em;
  color: $primaryBrandColor;
  &:hover {
    color: lighten($primaryBrandColor, 20%);;
  }
}

.navbar-default .navbar-nav > li > a {
  min-width: 100px;
  margin-top: 10px;
  padding: 5px 25px;
  color: $primaryBrandColor;
  border-radius: 50px;
  border: 3px solid $primaryBrandColor;
  &:hover {
    color: white;
    background-color: $primaryBrandColor;
  }
}

.dropdown-toggle  {

}


/**************
     Alert
***************/
.alert,
.notice  {
  // margin-top: 80px;
  margin-bottom: 0;
  text-align: center;
}

/******************
 User Profile Page
******************/

/* new content */
textarea  {
  height: 80px;
  width: 80%;
  background-color:#f5f5f5;
  border-color:transparent;
}

.newContentDiv  {
  height: 150px;
  margin-bottom: 20px;
  @include box;
  background-color: #c6aec6;
}

.newContent {
  margin-top: 20px;
}

.tootBtn  {
  float: right;
  margin-right: 65px;
  margin-top: 5px;
  padding: 5px 20px;
  @include button;
}

/* posts */
.userposts  {
  list-style: none;
  padding: 0;
  li  {
    min-height: 80px;
    margin-bottom: 10px;
    padding: 5px 15px;
    @include box;
  }
}

.content,
.timestamp  {
  display: block;
}

.content  {
  margin-bottom: 10px;
}

.timestamp  {
  color: lightgray;
  font-size: .8em;
}

/**************
  Footer
***************/
footer  {
  border-top: 2px solid $primaryBrandColor;
}

footer li {
  display: inline-block;
}
